absl-py==0.8.1
asn1crypto==0.24.0
astor==0.8.1
Brlapi==0.6.7
cachetools==3.1.1
certifi==2018.8.24
chardet==3.0.4
chrome-gnome-shell==0.0.0
cryptography==2.6.1
cupshelpers==1.0
cycler==0.10.0
distro==1.3.0
distro-info==0.21
entrypoints==0.3
gast==0.2.2
google-auth==1.8.1
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.25.0
h5py==2.10.0
httplib2==0.11.3
idna==2.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.1.0
louis==3.8.0
Mako==1.0.7
Markdown==3.1.1
MarkupSafe==1.1.0
matplotlib==3.1.2
numpy==1.17.4
oauthlib==3.1.0
opt-einsum==3.1.0
protobuf==3.11.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
PyGObject==3.30.4
pyparsing==2.4.5
PySimpleSOAP==1.16.2
pysmbc==1.0.15.6
python-apt==1.8.4
python-dateutil==2.8.1
python-debian==0.1.35
python-debianbts==2.8.2
pyxdg==0.25
reportbug===7.5.3-deb10u1
requests==2.21.0
requests-oauthlib==1.3.0
rsa==4.0
SecretStorage==2.3.1
six==1.12.0
tensorboard==2.0.2
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
unattended-upgrades==0.1
urllib3==1.24.2
virtualenv==16.7.8
Werkzeug==0.16.0
wrapt==1.11.2
